@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  @keyframes marquee-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(120%);
    }
  }

  .animate-marquee-right {
    animation: marquee-right 15s linear infinite;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideInRight {
  animation: slideInRight 0.3s ease-out forwards;
}
